In [7]:
mylist1 = [10,20,30]
mylist2 = mylist1
print(id(mylist1))
print(id(mylist2))

2786197115080
2786197115080

In [5]:
mylist1 = [10,20,30]
mylist2 = mylist1.copy()
print(mylist2)
print(id(mylist1))
print(id(mylist2))

[10, 20, 30]
2786195879688
2786198192968

In [17]:
mylist1 = [10,20,30]
mylist2 = mylist1[:]
print(mylist2)

[10, 20, 30]

In [18]:
mylist2.append(12)
print(mylist1)

[10, 20, 30]

In [19]:
mylist1 = [10,20,30]
mylist2 = mylist1.copy()
print(mylist2)

[10, 20, 30]

In [20]:
mylist2.append(40)
print(mylist1)

[10, 20, 30]

In [21]:
print(id(mylist1))
print(id(mylist2))

2786197374280
2786197375816

In [28]:
my_dict = {
    'name':'jun',
    'age' : 17
}

print(my_dict)
print(my_dict['name'])
print(my_dict['age'])

{'name': 'jun', 'age': 17}
jun
17

In [32]:
my_dict['email'] = 'wnsgud0116@gmail.com'
print(my_dict)

{'name': 'jun', 'age': 17, 'email': 'wnsgud0116@gmail.com'}

In [34]:
my_dict['age'] = 26
print(my_dict)

{'name': 'jun', 'age': 26, 'email': 'wnsgud0116@gmail.com'}

In [35]:
dict_a = {'a':1,'b':2}
dict_b = {'c':3,'d':4}

dict_a.update(dict_b)

print(dict_a)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [36]:
dict_a = {'a':1,'b':2}
dict_b = {'b':3,'d':4}

dict_a.update(dict_b)

print(dict_a)

{'a': 1, 'b': 3, 'd': 4}

In [50]:
my_dict = {
    'a':10,
    'b':20
}

In [51]:
'a' in my_dict

True

In [52]:
'c'in my_dict

False

In [53]:
my_dict.values()

dict_values([10, 20])

In [54]:
my_dict.keys()

dict_keys(['a', 'b'])

In [55]:
my_dict.items()

dict_items([('a', 10), ('b', 20)])

In [56]:
del my_dict['a']
my_dict

{'b': 20}

In [57]:
set_1 = {1,2,3,4,5,6,6,7}
print(set_1)

{1, 2, 3, 4, 5, 6, 7}

In [59]:
my_list = [1,2,3,5,7,4,3,9,3,2]
set2 = set(my_list)
print(set2)

{1, 2, 3, 4, 5, 7, 9}

In [60]:
my_str = 'letters'
set1 = set(my_str)
print(set1)

{'e', 'l', 'r', 's', 't'}

In [61]:
list(set1)

['e', 'l', 'r', 's', 't']

In [69]:
list_2dim = [[10,20,30],
             [40,50,60]]

 a = list_2dim[1][1]
print(a)

50

# 판다스 사용하기

In [81]:
import pandas as pd
import numpy as np

my_list = ({
    '학번':[1,2,3],
    '이름':['A','B','C'],
    '영어성적':[3,5,6],
    '수학성적':[3,5,6]
})

df = pd.DataFrame(my_list)

print(df)

   학번 이름  영어성적  수학성적
0   1  A     3     3
1   2  B     5     5
2   3  C     6     6

In [82]:
import pandas as pd
import numpy as np

In [84]:
s = pd.Series([1,2,3,4,5,np.nan]) #np.nan = NaN
print(s)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
dtype: float64

In [85]:
dates = pd.date_range('20200828',periods=10)
print(dates)

DatetimeIndex(['2020-08-28', '2020-08-29', '2020-08-30', '2020-08-31',
               '2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04',
               '2020-09-05', '2020-09-06'],
              dtype='datetime64[ns]', freq='D')

In [91]:
df = pd.DataFrame(np.random.rand(5,4),
                  index = [1,2,3,4,5],
                  columns = ['A','B','C','D'])
print(df)

          A         B         C         D
1  0.160920  0.836789  0.684173  0.779476
2  0.131505  0.983175  0.424526  0.978078
3  0.214042  0.096447  0.609598  0.219879
4  0.266063  0.872493  0.161291  0.349711
5  0.621981  0.160201  0.407671  0.192845

In [92]:
df['A']

1    0.160920
2    0.131505
3    0.214042
4    0.266063
5    0.621981
Name: A, dtype: float64

In [93]:
df[['A','C']]

          A         C
1  0.160920  0.684173
2  0.131505  0.424526
3  0.214042  0.609598
4  0.266063  0.161291
5  0.621981  0.407671

In [94]:
column_names = ['A','D']
df[column_names]

          A         D
1  0.160920  0.779476
2  0.131505  0.978078
3  0.214042  0.219879
4  0.266063  0.349711
5  0.621981  0.192845

In [98]:
df.loc[1]

A    0.160920
B    0.836789
C    0.684173
D    0.779476
Name: 1, dtype: float64

In [96]:
df.loc[:,['A','C']]

          A         C
1  0.160920  0.684173
2  0.131505  0.424526
3  0.214042  0.609598
4  0.266063  0.161291
5  0.621981  0.407671

In [97]:
df.loc[1:3,['A','B']]

          A         B
1  0.160920  0.836789
2  0.131505  0.983175
3  0.214042  0.096447

In [99]:
df['A'] > 0.5

1    False
2    False
3    False
4    False
5     True
Name: A, dtype: bool

In [100]:
df[df['A'] > 0.5]

          A         B         C         D
5  0.621981  0.160201  0.407671  0.192845

In [102]:
df[df['A'] > 0.5]

          A         B         C         D
5  0.621981  0.160201  0.407671  0.192845

In [108]:
df.loc[df['B'] > 0.3, ['A','D']]

          A         D
1  0.160920  0.779476
2  0.131505  0.978078
4  0.266063  0.349711