In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#www.kobis.or.kr

In [3]:
df = pd.read_csv('KOBIS_개봉일람_2019-10-26.csv',skiprows=5)
df.head()

,순번,영화명,감독,제작사,수입사,배급사,개봉일,영화유형,영화형태,국적,전국,전국.1,전국.2,서울,서울.1,장르,등급,영화구분
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,스크린수,매출액,관객수,매출액,관객수,NaN,NaN,NaN
1,1.0,명량,김한민,(주)빅스톤픽쳐스,NaN,씨제이이앤엠(주),2014-07-30,개봉영화,장편,한국,"1,587","135,748,398,910","17,613,682","33,121,225,810","4,163,666",사극,15세이상관람가,일반영화
2,2.0,극한직업,이병헌,"(주)어바웃필름,영화사 해그림 주식회사,씨제이이앤엠(주)",NaN,씨제이이앤엠(주),2019-01-23,개봉영화,장편,한국,"1,978","139,647,979,516","16,264,944","31,858,660,536","3,638,287",코미디,15세이상관람가,일반영화
3,3.0,신과함께-죄와 벌,김용화,"리얼라이즈픽쳐스(주),(주)덱스터스튜디오",NaN,롯데쇼핑㈜롯데엔터테인먼트,2017-12-20,개봉영화,장편,한국,"1,912","115,698,654,137","14,410,754","27,530,825,087","3,346,172",판타지,12세이상관람가,일반영화
4,4.0,국제시장,윤제균,"(주)제이케이필름,씨제이이앤엠(주)",NaN,씨제이이앤엠(주),2014-12-17,개봉영화,장편,한국,966,"110,828,014,630","14,245,998","25,842,519,330","3,233,946",드라마,12세이상관람가,일반영화

In [4]:
df.rename(columns = {'전국':'스크린수','전국.1':'매출액','전국.2':'관객수',\
         '서울':'서울매출액','서울.1':'서울관객수'},inplace=True).head(2)

AttributeError: 'NoneType' object has no attribute 'head'

In [ ]:
df.drop(0,inplace=True)

In [ ]:
df

In [ ]:
df.head(2)

In [ ]:
df.drop(['서울매출액','서울관객수','순번','영화유형','등급','수입사'],axis=1,inplace=True)

In [ ]:
df.drop(['배급사'],axis=1,inplace=True)

In [ ]:
df.drop(['제작사'],axis=1,inplace=True)

In [ ]:
df.info()

In [ ]:
#칼럼별 null값의 갯수 확인

In [ ]:
df.isnull().sum()

In [ ]:
#국적별 영화 매출액.. #스크린수 #매출액 #관객수 int로 변환

In [ ]:
df.fillna(0,inplace=True)

In [ ]:
df.info()

In [ ]:
int(df['매출액'].values[0].replace(',',''))

In [ ]:
df['매출액'] = df['매출액'].apply(lambda x: int(str(x).replace(',','')))
df['스크린수'] = df['스크린수'].apply(lambda x: int(str(x).replace(',','')))
df['관객수'] = df['관객수'].apply(lambda x: int(str(x).replace(',','')))

In [ ]:
df.info()

In [ ]:
#국적별 영화 매출액 합계 상위 10개국.....

In [ ]:
import matplotlib as mpl
import matplotlib.font_manager as fm

mpl.rcParams['axes.unicode_minus']= False

path = 'C:/Windows/Fonts/malgun.ttf'
font_name = fm.FontProperties(fname = path, size = 50).get_name()
plt.rc('font', family=font_name)

In [ ]:
df.groupby('국적')['매출액'].sum().sort_values(ascending=False)[:10].plot(kind='bar')

In [ ]:
#스크린수와 매출액의 관계를 분포그래프로 표시 그리고 회귀직선을 나타내시오
#역대 관객수와 최대인 영화는 무엇인가
#스크린수 대비 매출액이 최대인 영화는 무엇인가?
#평균매출이 가장 높은 장르는 무엇인가
#연도별 개봉영화수 추이를 line chart로 표시하시오
#12개월 중 영화개봉수가 가장 많은 달과 적은 달을 표시하시오
#역대 평균 관객수가 가장 많은 감독은 누구인가?

In [ ]:
df

In [ ]:
#1. 스크린수와 매출액의 관계를 분포그래프로 표시 그리고 회귀직선을 나타내시오

x = df['스크린수']
y = df['매출액']

plt.scatter(x,y)
sns.regplot(x = df['스크린수'],y = df['매출액'],data=df)

In [ ]:
#2 역대 관객수가 최대인 영화는 무엇인가

In [ ]:
df.groupby('영화명')['관객수'].sum().sort_values(ascending=False).head(1)

In [ ]:
#스크린수 대비 매출액이 최대인 영화는 무엇인가?

In [ ]:
df['스크린매출비율'] = (df['매출액']/df['스크린수'])

In [ ]:
df.groupby('영화명')['스크린매출비율'].max().sort_values(ascending=False).head(1)

In [ ]:
#평균매출이 가장 높은 장르는 무엇인가

In [ ]:
df.groupby('장르')['매출액'].mean().sort_values(ascending=False).head(1)

In [ ]:
#연도별 개봉영화수 추이를 line chart로 표시하시오

In [ ]:
sum(df['개봉일'].apply(lambda x: x == 0))

In [ ]:
df.replace(0,'0-0-0',inplace=True)

In [ ]:
df['개봉일'].apply(lambda x:x.split('-')[0])

In [ ]:
df['개봉년도'] = df['개봉일'].apply(lambda x:x.split('-')[0])

In [ ]:
df.groupby('개봉년도')['영화명'].count().plot(kind='line')

In [ ]:
#12개월 중 영화개봉수가 가장 많은 달과 적은 달을 표시하시오

df['개봉월'] = df['개봉일'].apply(lambda x:x.split('-')[1])

In [ ]:
df.groupby('개봉월')['영화명'].count().sort_values(ascending=False).head(1)

In [ ]:
df.groupby('개봉월')['영화명'].count().sort_values(ascending=False)

In [ ]:
#역대 평균 관객수가 가장 많은 감독은 누구인가?

In [ ]:
df.groupby('감독')['관객수'].mean()