In [1]:
import pandas as pd
import numpy as np

In [2]:
ecom = pd.read_csv('Ecommerce Purchases')
ecom.head(3)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95

In [13]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [3]:
#1. 고객들의 평균구매금액은
#2. 최고구매금액과 최소구매금액은?
#3. 영어사용자의 구매금액의 합계
#4. 사용언어별 평균구매금액은?
#5. 'Job'이 'lawyer'인 사람의 숫자?
#6. 'AM'과 'PM'의 각각의 구매건수?
#7. Lot이 '90 WT'인 곳에서 구매한 구매금액은?
#8. Credit card num이 '4926535242672853'인 사람의 email은?
#9. 카드회사가 'American Express'이고 구매금액이 $95 이상인 구매고객 수?
#10. credit card 만료일이 2025년도인 카드를 소지한 구매자의 수?
#11. email 도메인 별 사용자 수는?
#12. browser 종류별 이용자수?

In [4]:
#1
ecom.groupby('Company')['Purchase Price'].mean()

Company
Abbott Ltd                   77.45
Abbott and Sons              33.09
Abbott-Johnson               91.06
Acevedo PLC                  37.38
Acevedo, Nguyen and Moore     7.36
                             ...
Zimmerman-Woodard            68.77
Zuniga, Cooper and Smith     29.39
Zuniga, Morris and Smith     34.43
Zuniga-Fowler                72.72
Zuniga-Watson                 0.32
Name: Purchase Price, Length: 8653, dtype: float64

In [5]:
#2
ecom['Purchase Price'].max()

99.99

In [6]:
ecom['Purchase Price'].min()

0.0

In [14]:
#3. 영어사용자의 구매금액의 합계

eng_ecom = ecom[ecom.Language == 'en']
eng_ecom.groupby('Language')['Purchase Price'].sum()

Language
en    56111.11
Name: Purchase Price, dtype: float64

In [8]:
#4. 사용언어별 평균구매금액은?

ecom.groupby('Language')['Purchase Price'].mean()

Language
de    50.254485
el    51.555356
en    51.103015
es    49.366977
fr    49.476718
it    50.001004
pt    51.215546
ru    49.927134
zh    50.180198
Name: Purchase Price, dtype: float64

In [9]:
#5. 'Job'이 'lawyer'인 사람의 숫자?

sum(ecom['Job'].str.contains('Lawyer').values)

30

In [12]:
eng_ecom = ecom[ecom.Job == 'Lawyer']
eng_ecom.groupby('Job')['Address'].count()

Job
Lawyer    30
Name: Address, dtype: int64

In [15]:
sum(ecom['Job'] == 'Lawyer')

30

In [16]:
count = 0
for j in ecom['Job']:
    if 'Lawyer' in j:
        count+= 1
count

30

In [10]:
#6. 'AM'과 'PM'의 각각의 구매건수?

ecom.groupby('AM or PM')['Address'].count()

AM or PM
AM    4932
PM    5068
Name: Address, dtype: int64

In [12]:
#7. Lot이 '90 WT'인 곳에서 구매한 구매금액은?

lot_ecom = ecom[ecom.Lot == '90 WT']
lot_ecom['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [17]:
ecom[ecom.Lot == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [13]:
ecom.head(3)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95

In [14]:
#8. Credit card num이 '4926535242672853'인 사람의 email은?

ecom[ecom['Credit Card'] == 4926535242672853].Email

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [18]:
#9. 카드회사가 'American Express'이고 구매금액이 $95 이상인 구매고객 수?

ecom[(ecom['CC Provider'] == 'American Express')&(ecom['Purchase Price'] >= 95)].Address.count()

39

In [16]:
#10. credit card 만료일이 2025년도인 카드를 소지한 구매자의 수?

In [17]:
def ecomt(x):
    return x.split('/')[1]

In [18]:
ecom['CC Exp Date'].apply(ecomt)

0       20
1       18
2       19
3       24
4       25
        ..
9995    22
9996    25
9997    21
9998    17
9999    19
Name: CC Exp Date, Length: 10000, dtype: object

In [187]:
ecom['EXP'] = ecom['CC Exp Date'].apply(ecomt)
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,EXP
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,20
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,18
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,19
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,24
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,25

In [188]:
ecom = ecom[ecom['EXP'] == '25']
ecom

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,EXP
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,25
5,"7502 Powell Mission Apt. 768\nTravisland, VA 3...",21 XT,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_5...,Silva-Anderson,30246185196287,07/25,7169,Discover,ynguyen@gmail.com,Fish farm manager,55.96.152.147,ru,25.15,25
7,"260 Rachel Plains Suite 366\nCastroberg, WV 24...",96 pG,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5350...,Marshall-Collins,561252141909,06/25,256,VISA 13 digit,phillip48@parks.info,Event organiser,224.247.97.150,pt,44.25,25
13,"118 Melton Via Suite 681\nAlexanderbury, FL 32104",36 bu,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Keller PLC,4603635169938574,01/25,557,VISA 16 digit,caitlin57@yahoo.com,"Accountant, chartered public finance",84.212.92.11,it,8.93,25
15,"31730 Chelsea Crest\nBlakemouth, CT 90395-0620",41 Cj,PM,Opera/8.95.(Windows NT 5.0; en-US) Presto/2.9....,Garcia-Steele,180069437020404,04/25,404,Diners Club / Carte Blanche,amanda39@yahoo.com,Retail manager,53.176.235.33,el,71.78,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9955,"66539 Potts Forge\nCartershire, AK 58271-5180",37 KB,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows CE;...,Russell PLC,4716539058450,02/25,2805,JCB 16 digit,matthewcontreras@bradshaw-skinner.com,Podiatrist,88.110.181.120,zh,84.09,25
9963,"3865 Davis Meadow Suite 915\nPort Stacieview, ...",11 fo,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_3 like M...,"Brown, Gentry and White",4295151255424068,07/25,764,JCB 15 digit,zjames@gmail.com,Surgeon,171.24.198.172,en,58.17,25
9993,"7555 Larson Locks Suite 229\nEllisburgh, MA 34...",72 jg,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Colon and Sons,30025560104631,10/25,629,Maestro,chelseawilliams@lopez.biz,"Designer, exhibition/display",177.46.82.128,el,65.61,25
9994,"6276 Rojas Hollow\nLake Louis, WY 56410-7837",93 Ex,PM,Opera/9.68.(X11; Linux x86_64; sl-SI) Presto/2...,Ritter-Smith,3112186784121077,01/25,1823,Maestro,iroberts@gmail.com,"Education officer, museum",242.44.112.18,zh,31.85,25
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63,25

In [189]:
ecom['Address'].count()

1033

In [190]:
ecom[ecom.EXP == '25'].Address.count()

1033

In [ ]:
#10. credit card 만료일이 2025년도인 카드를 소지한 구매자의 수?

In [21]:
sum(ecom['CC Exp Date'].apply(lambda x:x.split('/')[1]) == '25')  #false = 0 #true = 1 sum = True add up

1033

In [26]:
ecom['CC Exp Date'].apply(lambda x:x.split('/')[1]) == '25'

0       False
1       False
2       False
3       False
4        True
        ...
9995    False
9996     True
9997    False
9998    False
9999    False
Name: CC Exp Date, Length: 10000, dtype: bool

In [ ]:
#series에서 출력할때 don't forget [0]

In [191]:
#11. email 도메인 별 사용자 수는?

ecom.groupby('Email')['Address'].count()

Email
aaronwatson@taylor-anderson.net    1
abruce@hotmail.com                 1
aconway@krueger-walker.com         1
acooper@petersen.com               1
ahayes@gmail.com                   1
                                  ..
zreid@martin.com                   1
zriddle@hicks.org                  1
ztaylor@leonard.com                1
zwilson@yahoo.com                  1
zyoung@yahoo.com                   1
Name: Address, Length: 1032, dtype: int64

In [ ]:
#ecom['Email'][0].split('@')[1]

In [29]:
ecom['Email'].apply(lambda x: x.split('@')[1]).value_counts()

hotmail.com            1638
yahoo.com              1616
gmail.com              1605
smith.com                42
williams.com             37
                       ...
cole.com                  1
trujillo.com              1
cook-coffey.com           1
stephens-ruiz.biz         1
olson-robinson.info       1
Name: Email, Length: 3416, dtype: int64

In [192]:
#12. browser 종류별 이용자수?

ecom.groupby('Browser Info')['Address'].count()

Browser Info
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_0; rv:1.9.4.20) Gecko/2014-08-24 10:15:45 Firefox/3.6.3                                  1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_1 rv:2.0; en-US) AppleWebKit/533.5.6 (KHTML, like Gecko) Version/5.0.1 Safari/533.5.6    1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_3 rv:3.0; sl-SI) AppleWebKit/532.26.7 (KHTML, like Gecko) Version/5.0 Safari/532.26.7    1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_4 rv:6.0; en-US) AppleWebKit/534.9.7 (KHTML, like Gecko) Version/4.0.1 Safari/534.9.7    1
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_4) AppleWebKit/5322 (KHTML, like Gecko) Chrome/15.0.896.0 Safari/5322                    1
                                                                                                                                    ..
Opera/9.95.(Windows NT 5.2; sl-SI) Presto/2.9.165 Version/12.00                                                                      1
Opera/9.97.(Windows NT 5.1; en-US) Presto/2.9.183 Version/11.00                                                                      1
Opera/9.99.(Windows NT 5.01; it-IT) Presto/2.9.169 Version/12.00                                                                     1
Opera/9.99.(Windows NT 6.2; en-US) Presto/2.9.162 Version/10.00                                                                      1
Opera/9.99.(X11; Linux x86_64; it-IT) Presto/2.9.190 Version/11.00                                                                   1
Name: Address, Length: 985, dtype: int64

In [30]:
ecom['Browser Info'].apply(lambda x: x.split('/')[0]).value_counts()

Mozilla    7924
Opera      2076
Name: Browser Info, dtype: int64

In [ ]:
#고령자 비율 상위 5개 구..