In [2]:
import pandas as pd
import numpy as np

In [3]:
sal = pd.read_csv('Salaries1.csv')
sal

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49995,49996,Carl Jacobs Sr,Transit Operator,65612.03,15604.45,733.84,37250.65,81950.32,119200.97,2012,NaN,San Francisco,NaN
49996,49996,49997,Yee Lam,Social Work Supervisor,81284.05,0.00,2084.00,35831.69,83368.05,119199.74,2012,NaN,San Francisco,NaN
49997,49997,49998,Fe V Foronda,Licensed Vocational Nurse,68857.08,16740.17,873.92,32725.45,86471.17,119196.62,2012,NaN,San Francisco,NaN
49998,49998,49999,Alison Schlageter,Administrative Analyst,83710.58,0.00,0.00,35478.91,83710.58,119189.49,2012,NaN,San Francisco,NaN
49999,49999,50000,Nicholas Hancock,Senior Administrative Analyst,83785.84,0.00,0.00,35400.78,83785.84,119186.62,2012,NaN,San Francisco,NaN

In [18]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        50000 non-null  int64
 1   Id                50000 non-null  int64
 2   EmployeeName      50000 non-null  object
 3   JobTitle          50000 non-null  object
 4   BasePay           50000 non-null  float64
 5   OvertimePay       50000 non-null  float64
 6   OtherPay          50000 non-null  float64
 7   Benefits          13841 non-null  float64
 8   TotalPay          50000 non-null  float64
 9   TotalPayBenefits  50000 non-null  float64
 10  Year              50000 non-null  int64
 11  Notes             0 non-null      float64
 12  Agency            50000 non-null  object
 13  Status            0 non-null      float64
dtypes: float64(8), int64(3), object(3)
memory usage: 5.3+ MB

In [4]:
# 1. BasePay 평균은 ?
# 2. OvertimePay의 최대값은?
# 3. 'JOSPHE DRISCOLL'의 직업은?
# 4. 'TotalPayBenefits' 최고금액을 수령하는 사람의 이름은?
# 5. 연도별 BasePay의 평균금액은?
# 6. 'JobTitle'의 종류는?
# 7. 'JobTitle'의 종류 중 가장 많은 JobTitle 상위 5개는 무엇인가?
# 8. 2013년도에 오직 한 사람만 종사하고 있는 JobTitle은?
# 9. 'Chief'라는 직업을 가진 사람의 수는?

In [5]:
#1

sal['BasePay'].mean()  #sal.BasePay.mean()

75601.13714620461

In [6]:
#2

sal['OvertimePay'].max()

245131.88

In [7]:
#3

sal[sal.EmployeeName == 'JOSEPH DRISCOLL'].JobTitle

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [8]:
#4

sal['TotalPayBenefits'].max()
sal[sal.TotalPayBenefits == 567595.43].EmployeeName

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [21]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()].EmployeeName

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [9]:
#5

sal.groupby('Year')['BasePay'].mean()

Year
2011     63595.956517
2012    106964.140280
Name: BasePay, dtype: float64

In [10]:
#6 'JobTitle'의 종류는?

jobs = sal['JobTitle'].unique()
jobs

#jobs = sal.JobTitle.unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ...,
       'Health Program Planner', 'Social Work Supervisor',
       'Ornamental Iron Worker'], dtype=object)

In [36]:
# 7. 'JobTitle'의 종류 중 가장 많은 JobTitle 상위 5개는 무엇인가?


da = sal.groupby('JobTitle')['EmployeeName'].count()
da.sort_values(ascending=False)[:5]

JobTitle
TRANSIT OPERATOR    2388
SPECIAL NURSE       1402
REGISTERED NURSE    1219
Registered Nurse    1003
CUSTODIAN            796
Name: EmployeeName, dtype: int64

In [37]:
sal.groupby('JobTitle').count().sort_values('Id',ascending=False).head().index

Index(['TRANSIT OPERATOR', 'SPECIAL NURSE', 'REGISTERED NURSE',
       'Registered Nurse', 'CUSTODIAN'],
      dtype='object', name='JobTitle')

In [77]:
job_count = {}
for j in sal.JobTitle:
    if j in job_count:
        job_count[j] += 1
    else:
        job_count[j] = 1
        
sorted(job_count.items(),key = lambda x:x[1],reverse=True)[:5]

[('TRANSIT OPERATOR', 2388),
 ('SPECIAL NURSE', 1402),
 ('REGISTERED NURSE', 1219),
 ('Registered Nurse', 1003),
 ('CUSTODIAN', 796)]

In [48]:
sal.JobTitle.value_counts()[:5]

TRANSIT OPERATOR    2388
SPECIAL NURSE       1402
REGISTERED NURSE    1219
Registered Nurse    1003
CUSTODIAN            796
Name: JobTitle, dtype: int64

In [13]:
# 8. 2011년도에 오직 한 사람만 종사하고 있는 JobTitle은?

In [54]:
sal2011 = sal[sal.Year ==2011]
sal2011

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36154,36154,36155,SERENA HUGHES,SWIMMING INSTRUCTOR/POOL LIFEGUARD,0.00,0.00,4.17,NaN,4.17,4.17,2011,NaN,San Francisco,NaN
36155,36155,36156,JOE BROWN JR,TRANSIT OPERATOR,0.00,0.00,0.30,NaN,0.30,0.30,2011,NaN,San Francisco,NaN
36156,36156,36157,PAULETTE ADAMS,"STATIONARY ENGINEER, WATER TREATMENT PLANT",0.00,0.00,0.00,NaN,0.00,0.00,2011,NaN,San Francisco,NaN
36157,36157,36158,KAUKAB MOHSIN,TRANSIT OPERATOR,0.00,0.00,0.00,NaN,0.00,0.00,2011,NaN,San Francisco,NaN
36158,36158,36159,JOSEPHINE MCCREARY,MANAGER IV,0.00,0.00,0.00,NaN,0.00,0.00,2011,NaN,San Francisco,NaN

In [63]:
temp_df = (sal2011['JobTitle'].value_counts() ==1)
len(temp_df[temp_df == True].index)

200

In [14]:
# 9. 'Chief'라는 직업을 가진 사람의 수는?

In [76]:
chief_count = 0

for j in sal.JobTitle:
    if 'CHIEF' in j.upper():
        chief_count += 1
chief_count

318

In [ ]:
#chief #Chief 대소문자 구분을 하지 않는 경우...

# 'chief' j.lower()
# 'CHIEF' j.upper()

In [89]:
sal['JobTitle'] = sal['JobTitle'].apply(lambda x:x.lower())

In [91]:
sum(sal['JobTitle'].str.contains('chief').values)

318